
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Liga futbolu</h1>
    <p class="lead">Najwspanialsza liga we wszechswiecie.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">dowiedz się wiecej &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Czym Jest</h2>
        <p>
            srututututu
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">dowiedz sie wiecej &raquo;</a></p>
    </div>
    
</div>

