
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>API</h2>

            <table id="Players"
                   class="table table-boardered table-condensed table-striped">
                <thead>
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Age</th>
                </tr>
                </thead>

            </table>
            <button class="btn btn-primary"
                    type="button" id="addButton"
                    onclick="addClick()">
                Add Player
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Information
                </div>


                <div class="panel-body">
                    <div class="form-group">
                        <label for="FirstName">FirstName</label>
                        <input class="form-control" type="text" id="FirstName" />
                    </div>
                </div>


                <div class="panel-body">
                    <div class="form-group">
                        <label for="LastName">LastName</label>
                        <input class="form-control" type="text" id="LastName" />
                    </div>
                </div>



                <div class="panel-body">
                    <div class="form-group">
                        <label for="Age">Age</label>
                        <input class="form-control" type="text" id="Age" />
                    </div>
                </div>
                <div class="panel-footer">

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <button type="button" id="updateButton"
                    class="btn btn-primary"
                    onclick="updateClick();">
                Add
            </button>
        </div>
    </div>
</div>
</body>
@section scripts
{
    <script>
        function updateClick() {
            
        }

        function addClick() {

          
        }

        function List() {
            $.ajax({
                url: 'api/Players',
                type: 'GET',
                dataType: 'json',
                success: function(players) {
                    playerListSuccess(players);

                },
                error: function(request, message, error) {
                    handleException(request, message, error);
                }
            });
        }

        function playerListSuccess(players) {
            $.each(players,
                function(index, player) {
                    playerAddRow(player);
                });
        }

        function playerAddRow(player) {
            if ($("#productTable tbody").length == 0) {
                $("#productTable").append("<tbody></tbody>");
            }
            $("#productTable tbody").append(playerBuildTableRow(player));

        }

        function playerBuildTableRow(player) {
            var ret =
                "<tr>" +
                    "<td>" +
                    player.FirstName +
                    "</td>" +
                    "<td>" +
                    player.LastName +
                    "</td>" +
                    "<td>" +
                    player.Age +
                    "</td>" +
                "</tr>";
            return ret;

        }
        function handleException(request, message, error) {
            var msg = "";
            msg += "Code: " + request.status + "\n";
            msg += "Text: " + request.statusText + "\n";
            if (request.responseJSON != null) {
                msg += "Message" +
                    request.responseJSON.Message + "\n";
            }
            alert(msg);

        }

        $(document).ready(function() {
            List();
        });
    </script>
}
