@model GameHub.ViewModels.GamesViewModel

<h3>{{title}}</h3>
<hr />
<form role="form" style="max-width: 500px;">
    <strong class="error">{{error}}</strong>
    
    <div class="form-group">
        <label for="Date">
            Date:
        </label>
        <input type="text" class="form-control" id="Date" ng-model="Date" />
    </div>

    <div class="form-group">
        <label for="Time">
           Time:
        </label>
        <input type="text" class="form-control" id="Time" ng-model="Time" />
    </div>
    
    <div class="form-group">
        <label for="Host">
            Host:
        </label>
        <select class="form-control" id="Host" ng-model="Host" ng-options="t.Id as t.TeamName for t in TeamId">
            <option value="">-- Select Host--</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="Visitor">
            Visitor:
        </label>
        <select class="form-control" id="Visitor" ng-disabled="!Host" ng-model="Visitor" ng-options="t.Id as t.TeamName for t in TeamId">
            <option value="">-- Select Visitor--</option>
        </select>
    </div>

   
    <div class="form-group">
        <label for="LeagueId">
            League:
        </label>
        <select class="form-control" id="LeagueId" ng-model="LeagueId" ng-options="c.Id as c.LeagueName for c in Id">
            <option value="">-- Select League--</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="ScoreHost">
            Score Host:
        </label>
        <input type="text" class="form-control" id="ScoreHost" ng-model="ScoreHost" />
    </div>
    
    
    <div class="form-group">
        <label for="ScoreVisitor">
            Score Visitor:
        </label>
        <input type="text" class="form-control" id="ScoreVisitor" ng-model="ScoreVisitor" />
    </div>
    
    <div class="form-group">
        <label for="Quatr1Host">
            1st Quatr Host:
        </label>
        <input type="text" class="form-control" id="Quatr1Host" ng-model="Quatr1Host" />
    </div>
    
    <div class="form-group">
        <label for="Quatr2Host">
            2nd Quatr Host:
        </label>
        <input type="text" class="form-control" id="Quatr2Host" ng-model="Quatr2Host" />
    </div>
    
    <div class="form-group">
        <label for="Quatr3Host">
            3rd Quatr Host:
        </label>
        <input type="text" class="form-control" id="Quatr3Host" ng-model="Quatr3Host" />
    </div>
    
    <div class="form-group">
        <label for="Quatr4Host">
            4th Quatr Host:
        </label>
        <input type="text" class="form-control" id="Quatr4Host" ng-model="Quatr4Host" />
    </div>
    
    <div class="form-group">
        <label for="Quatr1Visitor">
            1st Quatr Visitor:
        </label>
        <input type="text" class="form-control" id="Quatr1Visitor" ng-model="Quatr1Visitor" />
    </div>
    
    <div class="form-group">
        <label for="Quatr2Visitor">
            2nd Quatr Visitor:
        </label>
        <input type="text" class="form-control" id="Quatr2Visitor" ng-model="Quatr2Visitor" />
    </div>
    
    <div class="form-group">
        <label for="Quatr3Visitor">
            3rd Quatr Visitor:
        </label>
        <input type="text" class="form-control" id="Quatr3Visitor" ng-model="Quatr3Visitor" />
    </div>
    
    <div class="form-group">
        <label for="Quatr4Visitor">
           4th Quatr Visitor:
        </label>
        <input type="text" class="form-control" id="Quatr4Visitor" ng-model="Quatr4Visitor" />
    </div>

    <a href="#!/gamelist" class="btn btn-info">Back to List</a>
    <button type="submit" class="btn btn-default" ng-click="saveGame()">Submit</button>
</form>




