@model GameHub.ViewModels.GamesViewModel

<h3>{{title}}</h3>
<hr />
<form role="form" style="max-width: 500px;">
    <strong class="error">{{error}}</strong>
    
    
    
    <div class="form-group">
        <label for="Host">
            Host:
        </label>
        <select class="form-control" id="Host" ng-model="Host" ng-options="t.Id as t.TeamName for t in TeamId">
            <option value="">-- Select Host--</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="Visitor">
            Visitor:
        </label>
        <select class="form-control" id="Visitor" ng-disabled="!Host" ng-model="Visitor" ng-options="t.Id as t.TeamName for t in TeamId">
            <option value="">-- Select Visitor--</option>
        </select>
    </div>

    <div class="form-group">
        <label for="Town">
            Town:
        </label>
        <select class="form-control" id="Town" ng-model="Town" ng-options="t.Id as t.Town for t in TeamId">
            <option value="">-- Select Town--</option>
        </select>
    </div>
    
   <div class="form-group">
        <label for="LeagueId">
            League:
        </label>
        <select class="form-control" id="LeagueId" ng-model="LeagueId" ng-options="c.Id as c.LeagueName for c in Id">
            <option value="">-- Select League--</option>
        </select>
    </div>
    <a href="#!/gamelist" class="btn btn-info">Back to List</a>
    <button type="submit" class="btn btn-default" ng-click="saveGame()">Submit</button>
</form>




