@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC</h1>
    <p class="lead">Pierwszy projekt, w którym uczę się być programistą</p>
    <p><a href="https://www.youtube.com/watch?v=D-CipNWYOGc" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Coś o mnie</h2>
        <p>
            Hobbysta programowania. Aktywny Gracz futbolu Amerykańskiego. Osobisty Trener Personalny Pawła Kondziora.
        </p>
        <p><a class="btn btn-default" href="https://www.facebook.com/krzysztof.czaplejewicz.1">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mój Nauczyciel</h2>
        <p>Mówi, że ma dietę po której rośnie penis o 0,5cm w przeciągu 6 miesięcy</p>
        <p><a class="btn btn-default" href="https://www.facebook.com/pa.kondzior">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>News</h2>
        <p>Pomarańcza</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=aAiiMrFT7VY">Learn more &raquo;</a></p>
    </div>
</div>