@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Futbol Amerykański</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Witam na stronie poświęconej Futbolowi Amerykańskiemu</h2>
        <p>
            Tutaj Dowiesz się wszystkich informacji oraz nowinek futbolowych!!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Gorące newsy</h2>
        <p>Karcio ruchal świnkę ale chyba kazdy juz to wie.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Obejrzyj to!</a></p>
    </div>
    <div class="col-md-4">
        <h2>TOPLIGA</h2>
        <p>Lowlanders !!!!!!!!!!!!</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnet/data/ef-mvc/intro/samples/cu-final">Dowiedz się więcej &raquo;</a></p>
    </div>
</div>